In [16]:
import pandas as pd

data_posicion = pd.read_csv("/Users/home/Documents/Documentos/Mate Posible/Matematicamente posible 2018/BD_posiciones_eliminatorias_98_2018.csv")
data_posicion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Anho               58 non-null     float64
 1   Posicion           58 non-null     float64
 2   Selecci√≥n          58 non-null     object
 3   Pts.               58 non-null     float64
 4   PJ                 58 non-null     float64
 5   PG                 58 non-null     float64
 6   PE                 58 non-null     float64
 7   PP                 58 non-null     float64
 8   GF                 58 non-null     float64
 9   GC                 58 non-null     float64
 10  Dif.               58 non-null     float64
 11  Golpartido         58 non-null     float64
 12  Golcontra          58 non-null     float64
 13  Diferenciapartido  58 non-null     float64
 14  Prop_ganados       58 non-null     float64
 15  Prop_empate        58 non-null     float64
 16  Prop_perdido       58 non-null     float64
dtypes: float64(16), object(1)
memory usage: 8.0+ KB

In [17]:
# Checking points, wins,loses and draws of fifth place. 
data_posicion = data_posicion[['Anho', 'Posicion', 'Pts.',
                                 'PG','PE','PP', 'Dif.']]
data_posicion_5 = data_posicion[data_posicion['Posicion']==5]
data_posicion_5

      Anho  Posicion  Pts.   PG   PE   PP  Dif.
4   2018.0       5.0  26.0  7.0  5.0  6.0   1.0
14  2014.0       5.0  25.0  7.0  4.0  5.0   0.0
23  2010.0       5.0  24.0  6.0  6.0  6.0   8.0
33  2006.0       5.0  25.0  6.0  7.0  5.0  -5.0
43  2002.0       5.0  27.0  7.0  6.0  5.0   6.0
53  1998.0       5.0  25.0  7.0  4.0  5.0  -1.0

In [19]:
# Checking points wins, loses and draws of fifth and sixth places. 
positions = [5,6]
data_posicion_56 = data_posicion[data_posicion.Posicion.isin(positions)]
data_posicion_56
# Just in one year, the sixth place had more wins than the fifth place.

      Anho  Posicion  Pts.   PG   PE   PP  Dif.
4   2018.0       5.0  26.0  7.0  5.0  6.0   1.0
5   2018.0       6.0  26.0  8.0  2.0  8.0  -1.0
14  2014.0       5.0  25.0  7.0  4.0  5.0   0.0
15  2014.0       6.0  20.0  5.0  5.0  6.0  -6.0
23  2010.0       5.0  24.0  6.0  6.0  6.0   8.0
24  2010.0       6.0  23.0  6.0  5.0  7.0  -4.0
33  2006.0       5.0  25.0  6.0  7.0  5.0  -5.0
34  2006.0       6.0  24.0  6.0  6.0  6.0   8.0
43  2002.0       5.0  27.0  7.0  6.0  5.0   6.0
44  2002.0       6.0  27.0  7.0  6.0  5.0   5.0
53  1998.0       5.0  25.0  7.0  4.0  5.0  -1.0
54  1998.0       6.0  21.0  6.0  3.0  7.0   1.0

      Anho  Posicion  Pts.    PG   PE    PP  Dif.
0   2018.0       1.0  41.0  12.0  5.0   1.0  30.0
1   2018.0       2.0  31.0   9.0  4.0   5.0  12.0
2   2018.0       3.0  28.0   7.0  7.0   4.0   3.0
3   2018.0       4.0  27.0   7.0  6.0   5.0   2.0
4   2018.0       5.0  26.0   7.0  5.0   6.0   1.0
5   2018.0       6.0  26.0   8.0  2.0   8.0  -1.0
6   2018.0       7.0  24.0   7.0  3.0   8.0  -6.0
7   2018.0       8.0  20.0   6.0  2.0  10.0  -3.0
8   2018.0       9.0  14.0   4.0  2.0  12.0 -22.0
9   2018.0      10.0  12.0   2.0  6.0  10.0 -16.0
10  2014.0       1.0  32.0   9.0  5.0   2.0  20.0
11  2014.0       2.0  30.0   9.0  3.0   4.0  14.0
12  2014.0       3.0  28.0   9.0  1.0   6.0   4.0
13  2014.0       4.0  25.0   7.0  4.0   5.0   4.0
14  2014.0       5.0  25.0   7.0  4.0   5.0   0.0
15  2014.0       6.0  20.0   5.0  5.0   6.0  -6.0
16  2014.0       7.0  15.0   4.0  3.0   9.0  -9.0
17  2014.0       8.0  12.0   2.0  6.0   8.0 -13.0
18  2014.0       9.0  12.0   3.0  3.0  10.0 -14.0
19  2010.0       1.0  34.0   9.0  7.0   2.0  22.0
20  2010.0       2.0  33.0  10.0  3.0   5.0  10.0
21  2010.0       3.0  33.0  10.0  3.0   5.0   8.0
22  2010.0       4.0  28.0   8.0  4.0   6.0   3.0
23  2010.0       5.0  24.0   6.0  6.0   6.0   8.0
24  2010.0       6.0  23.0   6.0  5.0   7.0  -4.0
25  2010.0       7.0  23.0   6.0  5.0   7.0  -4.0
26  2010.0       8.0  22.0   6.0  4.0   8.0  -6.0
27  2010.0       9.0  15.0   4.0  3.0  11.0 -14.0
28  2010.0      10.0  13.0   3.0  4.0  11.0 -23.0
29  2006.0       1.0  34.0   9.0  7.0   2.0  18.0
30  2006.0       2.0  34.0  10.0  4.0   4.0  12.0
31  2006.0       3.0  28.0   8.0  4.0   6.0   4.0
32  2006.0       4.0  28.0   8.0  4.0   6.0   0.0
33  2006.0       5.0  25.0   6.0  7.0   5.0  -5.0
34  2006.0       6.0  24.0   6.0  6.0   6.0   8.0
35  2006.0       7.0  22.0   5.0  7.0   6.0  -4.0
36  2006.0       8.0  18.0   4.0  6.0   8.0  -8.0
37  2006.0       9.0  18.0   5.0  3.0  10.0  -8.0
38  2006.0      10.0  14.0   4.0  2.0  12.0 -17.0
39  2002.0       1.0  43.0  13.0  4.0   1.0  27.0
40  2002.0       2.0  31.0   9.0  4.0   5.0   3.0
41  2002.0       3.0  30.0   9.0  3.0   6.0  14.0
42  2002.0       4.0  30.0   9.0  3.0   6.0   6.0
43  2002.0       5.0  27.0   7.0  6.0   5.0   6.0
44  2002.0       6.0  27.0   7.0  6.0   5.0   5.0
45  2002.0       7.0  18.0   4.0  6.0   8.0 -12.0
46  2002.0       8.0  16.0   4.0  4.0  10.0 -11.0
47  2002.0       9.0  16.0   5.0  1.0  12.0 -26.0
48  2002.0      10.0  12.0   3.0  3.0  12.0 -12.0
49  1998.0       1.0  30.0   8.0  6.0   2.0  10.0
50  1998.0       2.0  29.0   9.0  2.0   5.0   7.0
51  1998.0       3.0  28.0   8.0  4.0   4.0   8.0
52  1998.0       4.0  25.0   7.0  4.0   5.0  14.0
53  1998.0       5.0  25.0   7.0  4.0   5.0  -1.0
54  1998.0       6.0  21.0   6.0  3.0   7.0   1.0
55  1998.0       7.0  21.0   6.0  3.0   7.0  -3.0
56  1998.0       8.0  17.0   4.0  5.0   7.0  -3.0
57  1998.0       9.0   3.0   0.0  3.0  13.0 -33.0
58     NaN       NaN   NaN   NaN  NaN   NaN   NaN