In [1]:
import pandas as pd

In [8]:
data_posicion = pd.read_csv("/Users/home/Documents/Documentos/Mate Posible/Matematicamente posible 2018/BD_posiciones_eliminatorias_98_2018.csv")
data_posicion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Anho               58 non-null     float64
 1   Posicion           58 non-null     float64
 2   Selección          58 non-null     object
 3   Pts.               58 non-null     float64
 4   PJ                 58 non-null     float64
 5   PG                 58 non-null     float64
 6   PE                 58 non-null     float64
 7   PP                 58 non-null     float64
 8   GF                 58 non-null     float64
 9   GC                 58 non-null     float64
 10  Dif.               58 non-null     float64
 11  Golpartido         58 non-null     float64
 12  Golcontra          58 non-null     float64
 13  Diferenciapartido  58 non-null     float64
 14  Prop_ganados       58 non-null     float64
 15  Prop_empate        58 non-null     float64
 16  Prop_perdido       58 non-null     float64
dtypes: float64(16), object(1)
memory usage: 8.0+ KB

In [9]:
# Checking points, wins,loses and draws of fifth place. 
data_posicion = data_posicion[['Anho', 'Posicion', 'Pts.',
                                 'PG','PE','PP', 'Dif.', 'Selección']]
data_posicion_5 = data_posicion[data_posicion['Posicion']==5]
data_posicion_5

      Anho  Posicion  Pts.   PG   PE   PP  Dif. Selección
4   2018.0       5.0  26.0  7.0  5.0  6.0   1.0      Perú
14  2014.0       5.0  25.0  7.0  4.0  5.0   0.0   Uruguay
23  2010.0       5.0  24.0  6.0  6.0  6.0   8.0   Uruguay
33  2006.0       5.0  25.0  6.0  7.0  5.0  -5.0   Uruguay
43  2002.0       5.0  27.0  7.0  6.0  5.0   6.0   Uruguay
53  1998.0       5.0  25.0  7.0  4.0  5.0  -1.0      Perú

In [7]:
# Checking points wins, loses and draws of fourth fifth and sixth places. 
positions = [4,5,6]
data_posicion_456 = data_posicion[data_posicion.Posicion.isin(positions)]
data_posicion_456
# Just in one year, the sixth place had more wins than the fifth place.

      Anho  Posicion  Pts.   PG   PE   PP  Dif.
3   2018.0       4.0  27.0  7.0  6.0  5.0   2.0
4   2018.0       5.0  26.0  7.0  5.0  6.0   1.0
5   2018.0       6.0  26.0  8.0  2.0  8.0  -1.0
13  2014.0       4.0  25.0  7.0  4.0  5.0   4.0
14  2014.0       5.0  25.0  7.0  4.0  5.0   0.0
15  2014.0       6.0  20.0  5.0  5.0  6.0  -6.0
22  2010.0       4.0  28.0  8.0  4.0  6.0   3.0
23  2010.0       5.0  24.0  6.0  6.0  6.0   8.0
24  2010.0       6.0  23.0  6.0  5.0  7.0  -4.0
32  2006.0       4.0  28.0  8.0  4.0  6.0   0.0
33  2006.0       5.0  25.0  6.0  7.0  5.0  -5.0
34  2006.0       6.0  24.0  6.0  6.0  6.0   8.0
42  2002.0       4.0  30.0  9.0  3.0  6.0   6.0
43  2002.0       5.0  27.0  7.0  6.0  5.0   6.0
44  2002.0       6.0  27.0  7.0  6.0  5.0   5.0
52  1998.0       4.0  25.0  7.0  4.0  5.0  14.0
53  1998.0       5.0  25.0  7.0  4.0  5.0  -1.0
54  1998.0       6.0  21.0  6.0  3.0  7.0   1.0

In [19]:
# Understanding the first six games of the fifth place
data_5_6games = pd.read_csv("/Users/home/Documents/Documentos/Mate Posible/Matematicamente posible 2018/BD_posiciones_98_2018_por_partido.csv")

partido = [6]
Equipo = ['Perú', 'Uruguay']

data_5_6games_summary = data_5_6games[data_5_6games.Partido.isin(partido)]
data_5_6games_summary = data_5_6games_summary[data_5_6games_summary.Pais.isin(Equipo)]
data_5_6games_summary

,Pais,ID,Partido,Posición,Puntos,Eliminatoria,Unnamed: 6,Unnamed: 7
50,Uruguay,3,6,1.0,13.0,2018,NaN,NaN
57,Perú,8,6,8.0,4.0,2018,NaN,NaN
230,Uruguay,3,6,2.0,11.0,2014,NaN,NaN
237,Perú,8,6,9.0,3.0,2014,NaN,NaN
410,Uruguay,3,6,6.0,8.0,2010,NaN,NaN
417,Perú,8,6,10.0,3.0,2010,NaN,NaN
590,Uruguay,3,6,8.0,7.0,2006,NaN,NaN
597,Perú,8,6,6.0,8.0,2006,NaN,NaN
770,Uruguay,3,6,3.0,11.0,2002,NaN,NaN
777,Perú,8,6,8.0,5.0,2002,NaN,NaN
950,Uruguay,3,6,7.0,6.0,1998,NaN,NaN
957,Perú,8,6,6.0,6.0,1998,NaN,NaN