In [2]:
import pandas as pd

data_posicion = pd.read_csv("/Users/home/Documents/Documentos/Mate Posible/Matematicamente posible 2018/BD_posiciones_eliminatorias_98_2018.csv")
data_posicion.info()
data_posicion.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Anho               58 non-null     float64
 1   Posicion           58 non-null     float64
 2   Selección          58 non-null     object
 3   Pts.               58 non-null     float64
 4   PJ                 58 non-null     float64
 5   PG                 58 non-null     float64
 6   PE                 58 non-null     float64
 7   PP                 58 non-null     float64
 8   GF                 58 non-null     float64
 9   GC                 58 non-null     float64
 10  Dif.               58 non-null     float64
 11  Golpartido         58 non-null     float64
 12  Golcontra          58 non-null     float64
 13  Diferenciapartido  58 non-null     float64
 14  Prop_ganados       58 non-null     float64
 15  Prop_empate        58 non-null     float64
 16  Prop_perdido       58 non-null     float64
dtypes: float64(16), object(1)
memory usage: 8.0+ KB

,Anho,Posicion,Selección,Pts.,PJ,PG,PE,PP,GF,GC,Dif.,Golpartido,Golcontra,Diferenciapartido,Prop_ganados,Prop_empate,Prop_perdido
0,2018.0,1.0,Brasil,41.0,18.0,12.0,5.0,1.0,41.0,11.0,30.0,2.3,0.6,1.7,0.67,0.28,0.06
1,2018.0,2.0,Uruguay,31.0,18.0,9.0,4.0,5.0,32.0,20.0,12.0,1.8,1.1,0.7,0.50,0.22,0.28
2,2018.0,3.0,Argentina,28.0,18.0,7.0,7.0,4.0,19.0,16.0,3.0,1.1,0.9,0.2,0.39,0.39,0.22
3,2018.0,4.0,Colombia,27.0,18.0,7.0,6.0,5.0,21.0,19.0,2.0,1.2,1.1,0.1,0.39,0.33,0.28
4,2018.0,5.0,Perú,26.0,18.0,7.0,5.0,6.0,27.0,26.0,1.0,1.5,1.4,0.1,0.39,0.28,0.33

In [7]:
data_posicion_5 = data_posicion[['Anho', 'Posicion', 'Pts.',
                                 'PG','PE','PP', 'Dif.']]
data_posicion_5 = data_posicion_5[data_posicion_5['Posicion']==5]
data_posicion_5

      Anho  Posicion  Pts.   PG   PE   PP  Dif.
4   2018.0       5.0  26.0  7.0  5.0  6.0   1.0
14  2014.0       5.0  25.0  7.0  4.0  5.0   0.0
23  2010.0       5.0  24.0  6.0  6.0  6.0   8.0
33  2006.0       5.0  25.0  6.0  7.0  5.0  -5.0
43  2002.0       5.0  27.0  7.0  6.0  5.0   6.0
53  1998.0       5.0  25.0  7.0  4.0  5.0  -1.0